{% extends 'base.html' %}
{% block content %}
    <div class="card">
        <h1>{{ question.title }}</h1>
        <form action="{% url 'vote' question.id %}" method="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
                <p><input type="radio" name="choice" id="c{{ choice.id }}" value="{{ choice.id }}">
                <label for="c{{ choice.id }}">{{ choice.choice_text }}</label></p>
            {% endfor %}
            <button type="submit" class="btn">OY VER</button>
        </form>
    </div>
{% endblock %}